<h1>Contact</h1>
<table class="table">
  <tr>
    <th>Full Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Created at</th>
  </tr>
<% @contact.each do |contact| %>

  <tr>

    <td><%= contact.full_name %></td>
    <td><%= contact.email %></td>
    <td><%= "#{contact.area_code}#{contact.phone_number}" %></td>
    <td><%= contact.friendly_created_at %></td>    
  </tr>  

<%end%>
 
  
</table>